@charset "utf-8";
@import '../../data.scss';

.app-nomatch{
  width: 100%;
  height: 500px;
  background: url(/src/images/icon.svg) center center no-repeat #282c34;
  background-size: 200px 200px;
  h2{
    font-size: 36px;
    text-align: center;
    padding-top: 30px;
    color: #fff;
  }
}